<!-- -*- mode: XML -*- -->
<launch>
  <!-- Change car name to match the name of the car, e.g. car1 -->
  <arg name="car_name" default="car" />

  <!-- Could be racecar-mit, racecar-uw-tx2, or racecar-uw-nano -->
  <arg name="racecar_version" default="racecar-uw-nano" />

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find mushr_description)/robots/racecar-nano.xacro'" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use gui" value="TRUE"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
      <!-- param name="tf_prefix" value="$(arg car_name)"/ -->
      <param name="robot_description" value="robot_description"/>
    </node>

        <!--include file="$(find mushr_base)/launch/includes/joy_teleop.launch">
            <! arg name="car_name" value="/$(arg car_name)" / >
        </include -->
    <!-- test new RC-joy mux -->
  <node pkg="joy" type="joy_node" name="joy_node" />
	<node name="mushr_base" pkg="mushr_base" type="roscar_joy_teleop.py" required="true">
            <param name="car_name" value="$(arg car_name)" />
        </node>

    <!-- no mux here -->

    <!-- include file="$(find mushr_base)/launch/includes/racecar_state.launch">
        <arg name="tf_prefix" value="$(arg car_name)" />
    </include -->

         <include file="$(find vesc_main)/launch/vesc.launch">
             <arg name="racecar_version" value="$(arg racecar_version)" />
             <arg name="car_name" default="/$(arg car_name)" />
         </include >


         <!-- include file="$(find vesc_ackermann)/launch/vesc_to_odom_node.launch">
             < arg name="car_name" default="/$(arg car_name)" />
         </include -->




</launch>
